
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    transition: background-color 0.3s, color 0.3s;
}
body.dark-mode {
    background-color: #121212;
    color: white;
}
#Switch-theme {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 10px;
}
img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
}